* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  color: #333;
  max-width: 80%;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  padding-bottom: 0px;
}

ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  list-style: none;
  gap: 10px;
}
header {
  text-transform: uppercase;
  border-bottom: 1px solid;
  padding: 30px;
  text-align: end;
  font-size: 16px;
}
p,
h5 {
  margin: 0;
  padding: 0;
}

.all-day-task {
  padding: 5px 0px;
  background-color: rgb(230, 230, 230, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 2px;
}
.logout {
  border: 2px solid rgb(237, 30, 121);
  background-color: rgb(237, 30, 121, 0.03);
  color: black;
  border-radius: 3px;
  padding: 10px;
  transition: 1s ease-in-out;
}
.logout:hover {
  color: black;
  background-color: rgb(236, 147, 185, 0.5);
}

.btn-primary {
  border: 2px solid rgb(237, 30, 121);
  background-color: rgb(237, 30, 121, 0.03);
  color: black;
  border-radius: 3px;
  padding: 8px 20px;
  transition: 0.5s ease-in-out;
}

.btn-primary:hover {
  border: 2px solid rgb(237, 30, 121);
  color: black;
  background-color: rgb(236, 147, 185, 0.5);
}

.logo > a {
  color: rgb(237, 30, 121);
}
.am {
  display: flex;
  background-color: rgb(237, 30, 121, 0.03);
  border-top: 2px solid rgb(237, 30, 121);
}

.pm {
  display: flex;
  background-color: rgb(119, 191, 245, 0.1);
  border-top: 2px solid rgb(119, 191, 245);
}
.am h1 {
  flex: 10%;
  padding: 20px;
  color: rgb(237, 30, 121);
  font-size: 40px;
}

.pm h1 {
  flex: 10%;
  padding: 20px;
  color: rgb(63, 169, 245);
  font-size: 40px;
}
.hours {
  flex: 90%;
}

.hour {
  display: flex;
  border-bottom: 1px solid darkgray;
  height: 100px;
  padding: 10px 0;
}
.full {
  flex: 10%;
  font-weight: bold;
  font-size: 18px;
}
.half {
  flex: 90%;
  display: flex;
  flex-direction: column;
  /* z-index: 0; */
}
.half-top {
  height: 50%;
  z-index: 0;
  padding-left: 50px;
  display: flex;
}
.half-bottom {
  border-top: 1px solid lightgray;
  height: 50%;
  display: flex;
}

.half-bottom-1 {
  flex: 1%;
  padding-right: 9px;
}
.half-bottom-2 {
  display: flex;
  flex: 93%;
  margin-top: 8px;
}
.event-all-day {
  display: flex;
  margin-left: 23%;
  border-left: 8px solid rgb(0, 191, 0);
  background-color: white;
  width: -webkit-fill-available;
  padding: 15px;
  box-shadow: 3px 0px 5px 0px lightgrey;
}

.event-all-day h5 {
  font-size: 16px;
  padding: 0 5px;
}

.event-all-day span {
  color: rgb(0, 191, 0);
  padding: 0 5px;
}

.event-all-day p {
  color: gray;
  text-transform: uppercase;
}
.event,
.event-all-day,
.event-half-bot,
.event-half-top :hover {
  cursor: pointer;
}

.event {
  border-left: 8px solid rgb(0, 191, 0);
  background-color: rgb(255, 255, 255, 0.8);
  padding: 10px;
  z-index: 1;
  margin-top: -9px;
  margin-left: 10px;
  height: 100px;
  box-shadow: 3px 0px 5px 0px lightgrey;
  width: 100%;
}

.event-half-top {
  border-left: 8px solid rgb(0, 191, 0);
  background-color: rgb(255, 255, 255, 0.8);
  padding: 15px;
  z-index: 1;
  margin-left: 10px;
  margin-top: -9px;
  box-shadow: 3px 0px 5px 0px lightgrey;
  width: 100%;
  display: flex;
}
.event-half-top p {
  color: gray;
  text-transform: uppercase;
}

.event-half-top h5 {
  font-size: 16px;
  padding: 0px 5px;
}

.event-half-top span {
  color: rgb(0, 191, 0);
}

.event-half-bot {
  border-left: 8px solid rgb(0, 191, 0);
  background-color: rgb(255, 255, 255, 0.8);
  padding: 15px;
  z-index: 1;
  margin-left: 10px;
  margin-top: -9px;
  box-shadow: 3px 0px 5px 0px lightgrey;
  width: 100%;
  display: flex;
}
.event-half-bot p {
  color: gray;
  text-transform: uppercase;
}

.event-half-bot h5 {
  font-size: 16px;
  padding: 0px 5px;
}

.event-half-bot span {
  color: rgb(0, 191, 0);
}

.event p {
  color: gray;
  text-transform: uppercase;
}
.event h5 {
  font-size: 16px;
  padding: 8px 0;
}
.event span {
  padding-top: 20px;
  color: rgb(0, 191, 0);
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in Place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  transition: all 2s ease-in-out;
  /* left: 0;
  top: 0; */
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;

  margin: auto;
  padding: 20px;

  border-radius: 9px;
  width: 50%;
  transition: all 2s ease-in-out;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 200px;
}
